img {
	margin: 0px;
	padding: 0px;
}

table {
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-width: thin;
}

ul li:hover {
	background-color: #996600;
}

a:HOVER,a {
	text-decoration: none;
}

ul {
	font-size: medium;
	background: #6A8656;
	list-style-type: none;
	text-align: center;
	padding: 0px;
	height: 40px;
	margin: 0px;
}

ul li {
	line-height: 40px;
	height: 40px;
	width: 87px;
	float: left;
	padding-top: 10px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

ul li a {
	color: white;
}

.td3 {
	text-align: left;
	font-weight: bold;
}

.td41 {
	width: 150px;
}

.td41 ul {
	background: #82A466;
	height: 600px;
	width: 150px;
	list-style-type: none;
}

.td41 ul li {
	text-align: center;
	float: none;
	margin: 0px;
	padding: 0px;
	overflow: visible;
	list-style-type: none;
	overflow: hidden;
	height: 40px;
	width: 150px;
}

.td41 ul li a {
	text-align: center;
}

.td42 {
	font-size: 17px;
}

#iFrame1 {
	width: 806px;
	height: 600px;
	border-style: outset;
}

.bottom {
	width: 960px;
	height: 110px;
	border: 0px;
	border-width: thin;
}